@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: 600 !important;
  font-size: 42px !important;
}

main {
  width: 1280px;
}

/* --------- nav and header -------- */
nav {
  background-color: rgb(244, 237, 231);
  width: 100%;
  position: fixed;
  overflow: hidden;
}

#nav-1 > img {
  width: 130px;
}

#nav-2 > a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

#search-bar {
  padding: 6px 16px;
  border-radius: 8px;
  background-color: white;
}

#search-bar > input {
  border: none;
  outline: none;
}

/* ------- hero section --------- */
#hero-section {
  background-color: rgb(244, 237, 231);
}
#hero-1 > h1 {
  font-weight: 600;
  font-size: 52px;
}

/* ------ about us ------- */
.card {
  padding: 20px;
  width: 23%;
  min-height: 280px;
}

.card > h5 {
  font-weight: 600;
  font-size: 22px;
}

/* ------ special recipes  --------- */
#menu-list {
  list-style: none;
  font-weight: 600;
  width: 60vw;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}

#item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 3px 10px grey;
  width: 22%;
  min-height: 300px;
}

#item-card > img {
  width: 140px;
}

/* ------- testimonial------ */
#testimon-section {
  background-color: #f8f8f8;
  margin-top: 100px !important;
  padding: 100px 10% !important;
}
.contact-card {
  border-radius: 10px;
  padding: 6px 10px;
  width: 60%;
}

/* -------- footer --------- */
#footer-section {
  background-color: rgb(244, 237, 231);
  padding: 40px 10%;
}
.box {
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  padding: 8px 12px;
}

.column > ul {
  list-style: none;
  padding-left: 0;
}

.column > h6 {
  font-weight: bold;
}
